/* INIZIO NAVBAR */
.logo-custom{
    width: 120px;
    height: 80px;
}
/* FINE NAVBAR */

/* INIZIO HEADER */
.background-custom{
   
    background: url(./media/mountains2.png), linear-gradient( rgba(255,255,255, 1),rgba(255,255,255, 0.2)), url(./media/switzerland-862870_1920.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    justify-content: center;
    text-align: center;
}


h1,h2,h3,h4,h5,h6 {
    font-family: 'Nova Square', cursive;
    color: darkred;
}

.quote {
    font-size: small;
    /* width: 400px; */

} 

.quote::before {
    content: '"';
    color: darkred;
    font-size: 40px;
    font-weight: bolder;
    position: absolute;
    top: -15px;
    left: -1px;
}

.quote::after {
    content: '"';
    color: darkred;
    font-size: 40px;
    font-weight: bolder;
    position: absolute;
    top: 50px;
}
/* FINE HEADER */

/* INIZO SEZIONE MAIN */
/* CUSTOM ITEMS */

.bg-custom {
    background-color: #ECECEC;
}

.article-custom{
    margin-top: 60px;
    margin-bottom: 60px;
}


.color-custom {
    color: darkred;
}

.p-custom {
    border-bottom: 3px solid darkred;
    position: relative;
    width: 50%;
} 

.p-custom::before {
    position: absolute;
    content: '';
    width: 13px;
    height: 13px;
    border: 2px solid darkred;
    background-color: white;
    border-radius: 50%;
    top: -5px;
    left: 50%;
    transform: translatex(-50%);
}
/* FINE CUSTOM ITEMS */

/* INIZIO SECONDA SEZIONE  */
.image-custom{
    background: url(./media/trees2.png);
    background-size: contain;
    background-position: bottom;
    background-repeat: no-repeat;
    min-height: 100vh;
}
.custom-size {
    font-size: small;
    padding-left: 30px;
}

.position-custom {
    font-size: small;
    padding-right: 30px;
}

.align-custom {
    text-align: right;
}

.row-custom {
    min-height: 90vh;
}

.btn-outline-custom {
    background-color: darkred;
    color: white;
    display: block;
    margin: 0px auto;
    padding: 0px 25px;
}

/* INIZIO TIMELINE */
.font-size-timeline {
    font-size: small;
    /* width: 450px; */
    padding-left: 5px;
}

.div-border {
    border-left: 3px solid darkred;
    margin-left: 15px;
}

.pallino {
    position: relative;
}

.pallino::before {
    position: absolute;
    content: '';
    width: 13px;
    height: 13px;
    border: 2px solid darkred;
    background-color: white;
    border-radius: 50%;
    left: -13px;
    bottom: 6px;
}

.image-timeline {
    background: url(./media/single.png);
    background-position-y: bottom;
    background-position-x: right;
    background-size: contain;
    background-repeat: no-repeat;
    height: 75vh;

}
/* FINE TIMELINE */

/* INIZIO SEZIONE OUR TEAM */
.layout-card {
    display: flex;
    justify-content: space-around;
    text-align: center;
}

 .custom-position {
    margin-top: 80px;
    margin-bottom: 50px;
} 

.box {
    text-align: center;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    border: 2px solid darkred;
    padding: 3px;
}
/* FINE SEZIONE OUR TEAM */

/* INIZIO SEZIONE OUR BENEFIT */
.box-benefit-custom {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 2px solid darkred;
    padding: 5px;
}

.image-benefit-custom {
    background: url(./media/other.png);
    background-position-y: bottom;
    background-repeat: no-repeat;
    background-size: contain;
    min-height: 115vh;
}
/* FINE SEZIONE OUR BENEFIT */

/* INIZIO FOOTER */
.bg-footer {
    background-color: darkred;
    color: white;
    min-height: 10vh;
}

/* FINE FOOTER */

/* FINE SEZIONE MAIN */